html {
    height: 100%;
}

body {
  /* background-image: linear-gradient(to bottom, #fffae8, #e6e7d7, #ced4c7, #b8c1b7, #a3aea7); */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
}

.bottom-buffer {
  margin-bottom: 2%;
}

.headshot {
  margin: auto;
  max-width: 65%;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80%;
  margin: auto;
}

.project {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.project ~ h4 {
  padding: 10px 20px;
}

.form-control {
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    border-radius: 0;
    resize: none;
    outline: none;
}

.form-control:focus {
  border: none;
  border-bottom: 1px solid gray;
  background-color: transparent;
  border-radius: 0;
  resize: none;
  outline: 1px solid gray;
}

.icons {
  font-size: 3rem;
}
