/* colors:
  - gold: .gold-text
  - green: #79aaa2
  - purple: #523563
  - grey: #708090
  */

body {
  background: url("../media/images/pattern2.jpg");
  background-repeat: repeat;
  background-size: auto;
  padding-top: 5%;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
}

a {
  color: #708090;
}

a:hover {
  text-decoration: none;
  color: #523563;
}

.navbar {
  background: url("../media/images/pattern2.jpg");
}

.nav-pills {
  font-size: 1.5rem;
  margin-bottom: 2%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #79aaa2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.top-buffer {
  margin-top: 2%;
}

.bottom-buffer {
  margin-bottom: 2%;
}

#pills-home h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 6.5vmax;
  padding: 8% 0 2% 0;
}

#pills-home h2 {
  font-size: 3.25vmax;
  color: #523563;
}


.push {
  padding-left: 10%;
}

.gold-text {
    color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url(https://c2.staticflickr.com/6/5680/22302333629_0d42d94d22_b.jpg) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}

.headshot {
  margin: auto;
  max-width: 65%;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80%;
  margin: auto;
  background-color: #F8F7F3;
}

.project {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.project ~ h4 {
  padding: 10px 20px;
}

#pills-contact h2 {
  font-size: 3.5rem;
  color: #523563;
}

.form-control {
    border: none;
    border-bottom: 1px solid gray;
    background-color: transparent;
    border-radius: 0;
    resize: none;
    outline: none;
    font-size: 2rem;
}

.form-control:focus {
  border: none;
  border-bottom: 1px solid gray;
  background-color: transparent;
  border-radius: 0;
  resize: none;
}

.btn {
  font-size: 2rem;
  background-color: #79aaa2;
  color: #fff;
}

.btn:hover {
  color: #523563;
}

.icons {
  font-size: 4rem;
  display: flex;
  flex-direction: column;
}

/* media queries */

@media only screen and (max-width: 1047px) {
  .top-buffer {
    margin-top: 5%;
  }

}

@media only screen and (max-width: 991px) {
  .headshot {
    max-width: 40%;
  }

  #pills-home h2 {
    margin-bottom: 3%;
}

  .push {
    padding-left: 0;
  }

}

@media only screen and (max-width: 767px) {
  .polaroid {
    width: 65%;
  }

  .gold-text{
    margin-top: 5%;
  }

  .top-buffer {
    margin-top: 8%;
  }

  .icons {
    display: inline;
  }

  .icons ~ a {
    padding: 10px;
  }
}

@media only screen and (max-width: 459px) {
  .gold-text{
    margin-top: 8%;
  }
}
